* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(25deg, orange, pink);
}

#main-container {
	background: gray;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	border-radius: 10px
}

#game-board {
	min-width: 500px;
	min-height: 500px;
	max-width: 500px;
	max-height: 500px;
	background: white;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#game-button-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px;
	grid-gap: 20px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;

#game-button-new {
	min-height: 100%;
	min-width: 100%;
	background: black;
}

