* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(25deg, orange, pink);
}

#main-container {
	background: linear-gradient(gray, rgba(25, 25, 25, 1));
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#game-board {
	min-width: 500px;
	min-height: 500px;
	max-width: 500px;
	max-height: 500px;
	background: white;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 20px;
}

#game-button-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px;
	grid-gap: 20px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}

#game-button-new {
	min-height: 100%;
	min-width: 100%;
	background: blue;
	color: white;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 200;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-button-new:hover {
	background: linear-gradient(0deg, blue, purple);
}

#game-button-new p {
	padding-top: 5px;
	margin: 0px;
	user-select: none;
}

.game-tile {
	border-color: gray;
	border-width: 3px;
	border-style: none;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	font-size: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.bt {
	border-top-style: solid;
}

.br {
	border-right-style: solid;
}

.bb {
	border-bottom-style: solid;
}

.bl {
	border-left-style: solid;
}

